.main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    @include mediaQuery(mobil){
        align-items: flex-start;
    }
    @include mediaQuery(ipad){
        justify-content: flex-end;
        align-items: flex-start;
    }
    @include mediaQuery(escritorio){
        justify-content: flex-start;
        align-items: flex-start;
    }

    &__estrellita{
        display: flex;
        align-items: baseline;
        font-size: 1rem;
    }

    &__estrellita img{
        width: 1.8em;
    }
}
